# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
.venv/
venv/
env/

# Local caches
.mplconfig/
cellpose_models/

# Large raw data
imaging_data/*.nd2

# Generated outputs
segmentation/
segmentation3d/
# keep small 3D example stacks
!segmentation3d/fish10-test_data_smaller.tif
!segmentation3d/fish10/fish10_test_data1.tif

# Jupyter
.ipynb_checkpoints/
